* {
    margin: 0;
    text-decoration: none;
}

body,
html {
    min-width: 310px;
    font: normal 16px/1.3 Helvetica, sans-serif;
}

i {
    font-size: 25px;
}

.about,
.work,
.contact {
    background-color: #474a4c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 800px;
    width: 100%;
}

/* --- NAVBAR --- */

.nav {
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: #32772d;
    position: fixed;
}

.nav a {
    color: white;
    height: 100%;
}

.nav .brand {
    border-bottom: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 40px;
}

.nav .brand h1 {
    margin: 0 10px;
}

.nav .brand a {
    display: flex;
    height: 100%;
}

.nav .nav-bar {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.nav .nav-bar .link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 40px;
}

.nav .brand:hover,
.nav .nav-bar .link:hover {
    background-color: #39ad31dc;
}

@media only screen and (max-width: 767px) {
    .nav {
        display: none;
    }
}

/* --- MOBILE NAV --- */

.mobile-nav {
    display: flex;
    height: 9vh;
    width: 100%;
    position: fixed;
    bottom: 0;
}


.mobile-nav .link {
    color: #32772d;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #2d333a;
    width: 25%;
    background-color: white;
}

.mobile-nav .link a {
    color: #32772d;
}

.mobile-nav .link:last-child {
    border-right: none;
}

@media screen and (min-width: 767px) {
    .mobile-nav {
        display: none;
    }
}

/* --- HEADER --- */

.header {
    border-bottom: 2px solid white;
    height: 100vh;
    min-height: 650px;
    display: flex;
    align-items: stretch;
    background-image: url("./img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header .content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    height: 91vh;
    width: 100%;
}

.header .content img {
    height: 200px;
    max-width: 100%;
    border-radius: 50%;
    border: 2px solid white;
}

.header .content .block {
    border-radius: 25px;
    display: flex;
    border: 2px solid white;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2d333a;
    min-height: 150px;
    padding: 10px;
    width: 80vw;
}

.header .content .block button {
    color: white;
    height: 40px;
    width: 140px;
    background-color: #32772d;
    border-radius: 10px;
    font-size: 16px;
}

.header .content .block button:hover {
    background-color: #39ad31dc;
    cursor: pointer;
}

@media only screen and (min-width: 767px) {
    .header .content {
        height: 100vh;
        justify-content: center;
    }

    .header .content img {
        height: 340px;
    }

    .header .content .block {
        min-height: 150px;
        margin: 60px auto;
        width: 60vw;
    }

    .header .content .block button {
        height: 50px;
    }
}

@media only screen and (min-width: 1026px) {
    .header .content {
        justify-content: flex-end;
    }

    .header .content .block {
        width: 40vw;
    }
}

/* --- ABOUT --- */

.about .block {
    background-color: #32772d;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid white;
    border-radius: 25px;
    margin: 0 20px;
    padding: 10px;
    width: 75vw;
}

.about .block h1,
.about .block p {
    margin: 15px;
}

.about .block hr {
    width: 20%;
}

.about .block ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.about .block li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 12px 15px;
}

.about .block li i {
    margin: 12px auto;
}

@media only screen and (min-width: 767px) {
    .about .block {
        width: 60vw;
    }
}

@media only screen and (min-width: 1023px) {
    .about .block hr {
        width: 10%;
    }
    
    .about .block:nth-of-type(2) {
        width: 40vw;
    }
}

/* --- WORK --- */

.work {
    background-color: white;
    height: 700px;
}

.work h1 {
    padding-top: 40px;
}

.work .content .block {
    background-color: #32772d;
    border: 2px solid #2d333a;
    border-radius: 25px;
    padding: 10px;
    margin: 70px 20px;
}

.work .content .block a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.work .content .block .thumbnail-one,
.work .content .block .thumbnail-two,
.work .content .block .thumbnail-three {
    border-radius: 10px;
    height: 60px;
    width: 60px;
    border: 2px solid white;
}

.work .content .block .text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
}

.work .content .block .text p {
    margin: 10px auto;
}

.work .content .block .thumbnail-one {
    background-image: url('./img/game-screenshot.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.work .content .block .thumbnail-two {
    background-image: url('./img/nyc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.work .content .block .thumbnail-three {
    background-image: url('https://i.pinimg.com/originals/a4/5a/8f/a45a8f7361e70a2665b5fa3d654d24b4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 767px) {
    .work .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .work .content .block {
        width: 20%;
        height: 350px;
    }

    .work .content .block a {
        flex-direction: column;
    }

    .work .content .block .thumbnail-one,
    .work .content .block .thumbnail-two,
    .work .content .block .thumbnail-three {
        width: 70%;
        height: 12vw;
        max-height: 45%;
        margin: 15% auto;
    }

    .work .content .block .text {
        text-align: center;
        height: 60%;
        width: 90%;
    }
}

@media only screen and (min-width: 1023px) {
    .work .content .block {
        height: 500px;
    }
}

/* --- CONTACT --- */

.contact {
    color: white;
    height: 500px;
    text-align: center;
}

.contact .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.contact .link-set {
    display: flex;
    margin: 60px auto;
}

.contact .link-set a {
    color: white;
    margin: 0 20px;
    border-radius: 10px;
}

.contact .link-set a:visited {
    background-color: #474a4c;
}

.contact .link-set a:hover {
    background-color: #777c80;
}

.contact .link-set p {
    margin: 12px auto;
}

.contact .link-set .link {
    margin: 10px;
}
